#header{
  background-color: orange;
  color: blue;
  font-family: sans-serif;
  padding: 1em;
  text-align: center;
}

#left{
  border:1px ridge black;
  margin:10px;
}

#top{
  border:1px ridge black;
  margin:1px;
}

#bottom{
  border:1px ridge black;
  margin:1px;
}

#main{
  display: flex;
  flex-direction: row;
}

#footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
